.common {
  width: 100%;
  height: auto;
  background-color: #000000;
  position: relative;
  min-height: 90vh;
  height: auto;
}
.watchlist-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #e5e5e5;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(200, 58, 2, 0.727);
}
.watchlist-heading {
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
  color: #000000;
  font-weight: bold;
}
.movie-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.movie-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.movie-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.movie-image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 30px;
}
.movie-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.movie-title {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.status-tags {
  margin-bottom: 15px;
}
.status-tag {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.watched {
  background-color: #ff4524;
  color: white;
}
.want-to-watch {
  background-color: #ff4524;
  color: white;
}
.status-buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.status-btn {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}
.watched-btn {
  background-color: green;
  color: white;
}
.want-to-watch-btn {
  background-color: rgb(255, 153, 0);
  color: white;
}
.remove-button {
  width: 255px;
  background-color: #770c00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  margin-top: 10px;
}
.remove-button:hover {
  background-color: #c0392b;
}
.no-movies-message {
  text-align: center;
  margin-left: 250px;
  padding-left: 220px;
  font-size: 20px;
  color: #860000;
  margin-top: 50px;
}
